body {
    padding: 0;
    margin: 0;
    justify-items: center;
    background: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.outer {
    display: grid;
    grid-template-rows: 100px 70vh;
    width: 100%;
    height: 100%;
    border: .5px solid black;
}
.header {
    width: 100%;
    display: flex;
    color: white;
    background-color: rgb(132, 186, 243);
    justify-items: center;
    align-items: center;
}
.logo {
    margin: 10px;
    width: 80px;
    border-radius: 999px;
}
.navigation {
    border: .5px solid black;
    background-color: rgb(132, 186, 243);
}
.navbox {
    display: block;
    width: 100px;
    height: 30px;
}
.navbox:hover {
    background-color: rgb(132, 132, 255);
}
a {
  text-decoration: none;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 100px;
    width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.news {
    color: white;
    background-color: rgb(132, 186, 243);
    font-size: 16px;
    padding: 5px;
}
#newstext {
    color: black;
    padding: 5px;
}
.sidebar {
    border: .5px solid black;
}
.footer {
    display: flex;
    width: 100%;
    height: 100px;
    color: blue;
    background-color: rgb(132, 186, 243);
    justify-content: center;
    align-items: center;
}
  