* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    justify-items: center;
    background: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.outer {
    display: grid;
    grid-template-rows: 1fr 100px;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: rgb(132, 186, 243);
    align-items: center;
    border-bottom: .5px solid blue;
}
.menu-icon {
    display: none;
    background-color: rgb(0, 186, 243);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menubar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 260px;
    height: calc(100% - 100px);
    background-color: rgb(132, 186, 243);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}
.menubar.active {
    transform: translateX(0);
}
.logo {
    margin: 10px;
    width: 80px;
    border-radius: 999px;
}
.navigation {
    padding-top: 10px;
    background-color: rgb(132, 186, 243);
}
.navbox {
    display: flex;
    flex-direction: row;
    border-bottom:.5px solid blue;
    width: 100%;
    height: 30px;
    padding-left:5px;
    text-decoration: none;
}
.navbox:hover {
    background-color: rgb(99, 186, 243);
}
.main-content {
    width: 100%;
    padding: 25px;
}
.wrapper {
  display: grid;
  grid-template-columns: 204px 1fr;
  padding-bottom:300px ;
  padding-top:100px ;
}
#newstext {
    color: black;
    padding: 5px;
}
.sidebar {
    background-color: rgb(132, 186, 243);
    width: 204px;
    height: 100%;
}
.footer {
    display: flex;
    width: 100%;
    height: 100px;
    color: blue;
    background-color: rgb(132, 186, 243);
    justify-content: center;
    align-items: center;
}
.menu-icon:hover {
    background-color: rgb(99, 186, 243);
}
@media (max-width:575.98px) {
    .sidebar {
        display: none;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    .menu-icon {
        display: flex;
    }
}
  