body {
    padding: 0;
    margin: 0;
    justify-items: center;
    background: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.outer {
    display: grid;
    grid-template-rows: 1fr 100px;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    width: 100%;
    position: fixed;
    color: white;
    background-color: rgb(132, 186, 243);
    align-items: center;
}
.menu {
    display: none;
}
.logo {
    margin: 10px;
    width: 80px;
    border-radius: 999px;
}
.navigation {
    background-color: rgb(132, 186, 243);
}
.navbox {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
}
.navbox:hover {
    background-color: rgb(132, 132, 255);
}
a {
  text-decoration: none;
}
.main-content {
    width: 100%;
    padding: 5px;
}
.wrapper {
  display: grid;
  grid-template-columns: 204px 1fr;
  padding-bottom:300px ;
  padding-top:100px ;
}
#newstext {
    color: black;
    padding: 5px;
}
.sidebar {
    background-color: rgb(132, 186, 243);
    width: 204px;
    height: 100%;
}
.footer {
    display: flex;
    width: 100%;
    height: 100px;
    color: blue;
    background-color: rgb(132, 186, 243);
    justify-content: center;
    align-items: center;
}
@media (max-width:575.98px) {
    .sidebar {
        display: none;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .menu {
        background-color: rgb(0, 186, 243);
        display: block;
        width: 80px;
        height: 80px;
        border: none;
        border-radius: 999px;
        margin: 5px;
        font-size: 40px;
    }
    .menu:hover {
        background-color: rgb(99, 186, 243) ;
    }
}
  